html, body {
    color:#222;
    margin:0;
    padding:20px;
    font: 10pt 'Segoe UI';
}

.content {
    position: relative;
    margin:0 auto;
    width:60%;
    min-width:300px;
    max-width: 900px;
}

textarea {
    display: block;
    width:100%;
    max-width: 100%;
    height:100px;
    margin:.5em;
    padding:.2em;
    resize-y: none;
}

.text-line {
    display: block;
    width: 100%;
    margin:.5em;
    padding:.2em;
}

.clickbox {
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 1px dashed #222;
}

.clickbox:hover {
    color:#393;
    border-bottom: 1px dashed #393;
}

.btn-box {
    text-align: center;
}

.btn-gen, .btn-clear, .btn-reset {
    display: inline-block;
    position: relative;
    margin:1em auto;
    padding:0 1em;
    height:40px;
    line-height:40px;
    font-size:1.1em;
    background: #ccc;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.btn-gen:hover {
    color: white;
    background: #393;
}


.btn-clear:hover {
    color: white;
    background: #933;
}